#s-1653aac8-88b8-4551-bfdb-b729b40823d3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1653aac8-88b8-4551-bfdb-b729b40823d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}