#s-3185cf85-df4f-4dbc-9b99-49861649ce71 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3185cf85-df4f-4dbc-9b99-49861649ce71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}