#s-3185cf85-df4f-4dbc-9b99-49861649ce71 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3185cf85-df4f-4dbc-9b99-49861649ce71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}