#s-3243e84c-6ded-4cf3-8271-3b5e2e87b0d0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3243e84c-6ded-4cf3-8271-3b5e2e87b0d0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}