#s-344e6cbb-e7e7-4a5f-85a4-bcbefa23e329 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-344e6cbb-e7e7-4a5f-85a4-bcbefa23e329 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}