#s-7b499e3c-4a01-43f1-aa6f-25c6690a42b9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7b499e3c-4a01-43f1-aa6f-25c6690a42b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}