#s-86d3ef64-9e7d-4ce5-8c3d-3f660baae98f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86d3ef64-9e7d-4ce5-8c3d-3f660baae98f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}