#s-ac8183dc-ed61-4761-94dc-a04949231074 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ac8183dc-ed61-4761-94dc-a04949231074 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}