#s-ad44fcb4-0de7-4ba8-852d-5fa4b7b0643f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ad44fcb4-0de7-4ba8-852d-5fa4b7b0643f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}