#s-bba8c084-1439-4e88-990c-091720de8366 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bba8c084-1439-4e88-990c-091720de8366 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}